/* colors used:
  primary colors:
    white: rgb(225,225,225) 100 #ffffff
    black: rbg(209,209,209) 100 #151515
    medium turquoise: rgb(59,222,222) 100 #3BDEDE
secondary colors
    medium turquoise low opacity: rgb(59,222,222,0.29) #3BDEDE
    dark turquoise(verdigris):  rgb(44,169,169) 100 #2ca9a9
    light grey:  rgb(209,209,209) 100 #d1d1d1
    dark grey(onyx): rgb(69,69,69) 100 #454545
  portfolio work colors:
    yellow (craftbin): rgb(254,189,59) 100 #FEBD3B
    light salmon (foodfinds): rgb(253,169,135) 100 #FDA987
    middle blue (foodfinds):  rgb(127,187,195) 100 #7FBBC3
    silvery grey (cultured, rainydaysavings): rgb(238,238,238) 100 #EEEEEE
    blue (rainydaysavings): rgb(0,8,255) 100 #0008FF
    ksu purple (texting app): rgb(89,27,144) 100 #591B90
    verdigris (turquoise texting app): rgb(9,170,175) 100  #09AAAF */
    /* custom logo sizing */
    * {
      box-sizing: border-box;
    }
    p, ul {
      font-family: 'source sans pro', sans-serif;
      font size: 16px;
      font weight: 300;
      line-height: 1.6;
      color:#151515
    }


    header{
      font-family: 'cormorant', serif;
      font-size: 16px; /* Sets the font size to 16px */
      font-weight: 300; /* Sets the font weight to 300 */
      line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
      color:#151515;

    }
    .body {
  font-family: 'cormorant', serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color:#151515;
}


.h1, .h2, .h3, .h4 {
  line-height: 1.4;
}
.h1 {
  font-size: 2.074em;
  font-weight: 400;
}

.h2 {
  font-size: 1.728em;
  font-weight: 400;
}

.h3 {
  font-size: 1.44em;
  font-weight: 400;
}
.h4 {
  font-size: 1.2em;
  font-weight: 400;
}
.button{
  display: inline-block;
   background-color: #ffffff;
   color: #151515;
   font-weight: 400;
   text-decoration: none;
   padding: 10px;
   border-radius: 20px;
   border: 2.5px solid #3BDEDE;
   transition: 0.2s opacity;
}
.button:hover {
  background-color:#d1d1d1;
  opacity: 0.5;
}
header{
  background-color:#ffffff
}
main {
  background-color:#ffffff
}
footer{
  background-color: #3BDEDE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#contact h2{
  color:#ffffff
}
.email{
  display: inline-block;
   background-color: #3BDEDE;
   color: #151515;
   font-weight: 400;
   text-decoration: none;
   padding: 10px;
   border-radius: 20px;
   border: 2.5px solid #ffffff;
   transition: 0.2s opacity;
   margin-top: 10px;
   margin-bottom: 10px;
   transition: 0.2s opacity;
}
.email:hover {
  background-color:#2ca9a9;
  opacity: 0.5;
}
li > a{
  transition: 0.2s opacity;
}
li > a:hover{
  text-decoration: underline;
}
#mylogo {
 max-width: 250px;
}
img {
width: 100%;
}
header {
  position: fixed;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  /*border-bottom: 1px solid #151515;*/
  box-shadow: 0px 5px 8px 0px rgba(51, 50, 50, 0.48);
  width: 100%
}
#behance{
  width: 30px;
  height:auto;
  margin: 0 15px 0 0;
}
#instagram{
  width: 30px;
  height:auto;

}
#linkedin {
  width: 30px;
  height: auto;
  margin: 0 15px 0 0;
}

/* Layout styling */
.container {
  padding: 15px;
  padding-top: 5px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.center {
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #151515;
  text-decoration: none;
}
#hero {
  background-color: #ffffff;
  padding: 0px;
  display: inline-block;
  width: 100%;
}
#hero span {
  display: block;
}
main {
  padding-top: 180px;
  margin-left: 10px;
  margin-right: 10px;
}
#socialmedialinks> ul {
  list-style-type: none;
  padding: 0;
}
#socialmedialinks> ul > li {
  display: inline-block;
}
#socialmedialinks> ul > li > a {
  color: #151515;
}
#cbpicture img{
  border-radius: 20px;
}
#rdspicture img{
  border-radius: 20px;
}
#tapicture img{
  border-radius: 20px;
}
#ffpicture img{
  border-radius: 20px;
}
#myphoto img{
 border-radius: 20px;
}
.animation{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px
  }
  #nav {
    width: auto;
    float: right;
    margin-top: 40px;
  }
  p, ul {
    font-family: 'source sans pro', sans-serif;
    font size: 18px;
    font weight: 300;
    line-height: 1.6;
    color:#151515
  }
  .col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
p, ul {
  font-family: 'source sans pro', sans-serif;
  font size: 20px;
  font weight: 300;
  line-height: 1.6;
  color:#151515
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  p, ul {
    font-family: 'source sans pro', sans-serif;
    font size: 22px;
    font weight: 300;
    line-height: 1.6;
    color:#151515
  }
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  p, ul {
    font-family: 'source sans pro', sans-serif;
    font size: 24px;
    font weight: 300;
    line-height: 1.6;
    color:#151515
  }
}
